*{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#root{
  overflow-x: hidden;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon_card{
  width: 200px;
  margin: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px
}

.pokemon_card img{
  width: 200px;
}
.pokemon_card p{
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.pokemon_list{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

#loadMore{
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center; 
  margin: 10px 20px 50px;
  cursor: pointer;
}

#loadMore span{
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #30a7d7;
  color: #fff;
}

.actualLoadBar{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  border: 1px black solid;
  overflow: hidden;
}

.bar{
  height: 20px;
  background-color: #30a7d7;
}

#Pokedex{
  display: flex;
  flex-direction: column;
}